<!--NAVBAR-->
  <nav class="navbar  fixed-top navbar-expand-lg ">
    <div class="container-fluid">
      
      <a class="navbar-brand" style="color: darkred" href="#">Anytime Fitness</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto  ">
          <li class="nav-item">
          <% if (title == "Home"){ %>
            
            <a class="nav-link active" style="color: darkred" aria-current="page" href="/homepage"> 
          <% } else { %>
            <a class="nav-link " style="color: darkred" aria-current="page" href="/homepage"> 
          <%} %>
            <i class="fa-solid fa-layer-group"></i>Home</a>
          </li>

          <li class="nav-item">
          <% if (title == "Tracker"){ %>
            <a class="nav-link active" style="color: darkred" aria-current="page " href="/tracker-list">
          <% } else { %>
            <a class="nav-link " style="color: darkred" aria-current="page " href="/tracker-list">
          <%} %>
          <i class="fa-solid fa-flask"></i>Fitness Log</a>
          </li>
          
        
          
      </div>
    </div>
  </nav>