<%- include('./partials/header.ejs')  %>
 <link rel='stylesheet' href='/Content/aboutme.css' />
</head>
<body>
<%- include('./partials/main_nav.ejs') %>
  <main>
     <header>
      <h1>About Me.</h1>
    </header>
    <!--container contains all child elements-->
   
   
  </main>
<%- include('./partials/bottom_nav.ejs') %>
<%- include('./partials/footer.ejs') %>