
<%- include('./partials/header.ejs')  %>
 <link rel='stylesheet' href='/Content/index.css' />
</head>
<body>
<%- include('./partials/main_nav.ejs') %>

<main>
    
    <div class="splash_main">
     
      <img src="Assets/images/muscle.jpg" alt="muscle">
      <div class="main-line">THERE IS NO LIMITS</div>
      <div class="second-line">PUSH PAST THE PAIN</div>
      <a href="/tracker-list" class="btn">Start Here</a>
      <div class="third-line">TO MAKE SOME GAINS</div>
    </div>
    
    
  
  </main>

  
<%- include('./partials/bottom_nav.ejs') %>
<%- include('./partials/footer.ejs') %>