@charset "UTF-8";

header h1 {
  padding-top: 100px;
  text-align: center;
  font-size: 90px;
}
/* wraps all the chilren element with flex row so it will line up in a row */
.contain {
  
  padding-top: 100px;
  padding-bottom: 50px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;

  overflow: hidden;
}

.main {
  display: flex;

  max-width: 300px;
}

.contain img {
  width: 100%;
  
  height: 200px;
  border-radius: 10%;
  object-fit: cover;
}

.work_colm {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10%;
}
.future_colm {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10%;
}
.school_colm {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10%;
}

p {
  padding-top: 5px;
  text-align: left;
}

h3 {
  padding-bottom: 5px;
}

.vid_position{
  display: flex;
  
  
  justify-content: center;
  
  align-items: center;
  padding-top:30px;
  padding-bottom: 100px;
}
.vid_position video{
 
  width:50%;}




@media screen and (max-width: 999px) {
  .main {
    display: flex;

    max-width: 250px;
  }

  .contain img {
    width: 100%;
    
    height: 150px;
    border-radius: 10%;
    object-fit: cover;
  }
}

/* phone style */
@media screen and (max-width: 480px) {
    header h1 {
      padding-top: 100px;
      text-align: center;
      font-size: 70px;
    }
  
    .main {
      display: flex;
      padding-bottom: 25px;
      max-width: 250px;
    }
  
    .contain {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #pic img {
      width: 230px;
      border-radius: 50%;
    }
    
    .vid_position video {
      width: 80%;
    }
  }

  /* tablet style */
  @media screen and (max-width: 768px) {
    header h1 {
      padding-top: 100px;
      text-align: center;
      font-size: 80px;
    }
  
    .main {
      display: flex;
      padding-bottom: 25px;
      max-width: 300px;
    }
  
    .contain {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .vid_position video {
      width: 70%;
    }
  }