@charset "UTF-8";
.navbar{
  font-family: 'Anton', sans-serif;
 
}


body{
  background: white;
  
}
.splash_main {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-evenly;
  
 
}

.splash_main img {
  max-width: 100%;
  height: auto;
}
.main-line{
  color:white;
  position:absolute;
  padding-top:1px;
  font-family: 'Anton', sans-serif;
  font-size:40px;
  
}
.second-line{
  color:white;
  position:absolute;
  padding-top:100px;
  font-family: 'Anton', sans-serif;
  font-size:40px;
}
.third-line{
  color:white;
  position:absolute;
  padding-top:32%;
  font-family: 'Anton', sans-serif;
  font-size:40px;
}

.splash_main .btn{
  position:absolute;
 
  background-color: darkred;
  margin-top:250px;
}

.splash_main a{
  color:white;
  font-family: 'Anton', sans-serif;
  

}